@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --clr-primary: #7a04eb;
  --clr-secondary: #ff00a0;
  --clr-tertiary: #ff124f;
  --clr-quaternery: #f8f8fbce;
  --clr-font : #4b4848;
  --clr-bg: lightgrey;
  --size-logo-font: 2rem;
  --size-header-font: 3rem;
  --font-family-branding: "Yellowtail", cursive;
  --font-family-body: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font: var(--font-family-body);
}

.app{
  /* background-color: lightsalmon; */
  width: 100vw;
  padding: 1rem;
  background-color: var(--clr-bg);
  
}

.app__header{
  /* background-color: lightseagreen; */
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__branding{
  font-family: var(--font-family-branding);
  color: var(--clr-primary);
  font-size: 2rem;
}

.app__hero{
  margin-bottom: 3rem;
  /* background-color: blueviolet; */
}

.app__article{
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  /* align-items: center; */
}
.app__heading{
  font-weight:  bold;
  font-size:  3rem;
  font-family: var(--font-family-body);
  color: var(--clr-font);
}

.app__img{
  padding: 1.5rem;
  width: 370px;
  margin-bottom: 2rem;
  align-self: center;
}

.app__aside{
  margin-bottom:  3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inp__dob, #inp__luckynum, .btn{
  /* width: 80%; */
  width: 90%;
  padding: 1rem;
  border-radius: 3px;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  outline: none;
  border: none;
}

.btn{
  background-color: var(--clr-tertiary);
  text-transform: uppercase;
  border: none;
  font-family: var(--font-family-branding);
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  outline: none;

}
.app_footer{
  padding: 1rem;
  display: flex;
  flex-direction: column;

}

.app__list{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.link{
  text-decoration: none;
  color: var(--clr-font);
  font-size: 2rem;
  font-weight: bold;
  font-family: var(--font-family-body);
  color: var(--clr-font);
  letter-spacing: 2px;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}
.app__listitem{
  background-color: tomato;
}


.label{
  font-size: 1.3rem;
  width: 90%;
  font-family: var(--font-family-body);
  text-align: center;
  color: var(--clr-font);
}

.span{
  color: var(--clr-tertiary);
}
.icon{
  width: 2.5rem;
}


/* .main{
  max-width: 1000px;
  margin: auto;
  background-color: lightgreen;
  padding: 2rem;
  font-family: var(--font-family-b);
  font-weight: bolder;
}
@media (max-width: 500px){
  .container{
    width: auto;
  }
}
.container{
  padding: 2rem;
  
}
nav{
  display: flex;
  justify-content: space-between;
}

nav p{
  font-family: var(--font-family-a);
  font-size: var(--size-logo-font);
  color: var(--clr-tertiary);
}
nav img{
  width: 2rem;
}

img{
  width: 2.5rem;
}

nav, section{
  margin-bottom: 2rem;
  background-color: grey;
}

span{
  color: var(--clr-tertiary);
}

section{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#aside-left{
  display: flex;
  flex-direction: column;
  font-size: var(--size-header-font);
}
#aside-left p{
  max-width: 400px;
}
#aside-right{
  font-size: var(--size-header-font);
}
aside img{
  max-width: 450px;
  min-width: 300px;
  align-self: center;
  flex-grow: 1;
}
footer{
  background-color: lightpink;
}
ul{
  list-style: none;
} */
/* body {
  font-family: "Poppins", sans-serif;
  color: #4b4848;
  max-width: 1000px;
  margin: auto;
  background-color: lightgrey;
}


section,
footer {
  margin-bottom: 10rem;
}



header{
  margin-bottom: 2rem;
  padding-top: 1rem;
}
section {
  background-color: lightseagreen;
  display: flex;
  margin-bottom: 10rem;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-shrink: 0;
}



#hero-img{
  min-width: 400px;
}

.container-center {
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

#p-small {
  font-size: 1.5rem;
  font-weight: lighter;
  text-align: center;
}

#aside-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
}

input,
button {
  padding: 0.8rem;
  width: 80%;
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 4px;
  outline: none;
  border: none;
}

button {
  font-family: "Yellowtail", cursive;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 2px;
  color: white;
  background-color: var(--clr-primary);
}

nav p {
  text-shadow: 5px 10px 12px 0px rgba(255, 255, 255, 1);
  flex-basis: 100%;
  color: var(--clr-tertiary);
  font-size: 2rem;
  font-family: "Yellowtail", cursive;
}
nav img {
  width: 2rem;
}

#hero-heading {
  color: var(--clr-tertiary);
}

#aside-left {
  width: 50%;
}

aside p {
  font-size: 2.8rem;
  font-weight: bolder;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
  font-size: 1.5rem;
  font-weight: bolder;
  letter-spacing: 2px;
}

img {
  width: 2.5rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 1rem;
  flex-wrap: wrap;
}

ul li {
  padding: 1rem;
  align-self: center;
  text-align: center;
  margin: 0rem 1rem;
}

ul li:nth-child(1) {
  flex-basis: 100%;
} */
